/* VARIABLES */

// Colors

$black: #000;
$lBlack: #292929;

$white: #FFF;

$txtGray: #dfdfdf; 

// Global Font
$fontFamily: arial, sans-serif;
$baseFont: 14;

// Loader
$bgLoader: $black;
$colorLoader: $white;

$widthLoader: 100px;

// -- to animation
$colorLoader1: red;
$colorLoader2: green;
$colorLoader3: purple;
$colorLoader4: yellow;

// Modal
$bgModal: $black;
$maxWModal: 500px;
$minHModal: 400px;


// Custom vars
$gray-text: #7a7d73;
$gray-bg: #f4f5f7;
$gray-border: #dedede;

$blue-1: #7bb4ef;
$blue-2: #479cf6;
$blue-3: #388af3;
$yellow: #f5c766;
